body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("/static/images/homepage3.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-div {
    position: absolute;
    left:90%;
}

#login-button{
    height:50px;
    width: 100px;
    font-size: 20px;
}

#lets-eat {
    position: absolute;
    font-size: 100px;
    font-family: "Arial, Helvetica, sans-serif";
    color: white;
    left:33%;
    top:20%;

}

#home-description {
    position: absolute;
    font-size: 40px;
    color:white;
    left: 40%;
    top:29%;
}

#sign-up-button-div {
    position: absolute;
    left:44%;
    top:43%;

}

#sign-up-button {
    height: 60px;
    width: 150px;
    font-size: 30px;
}



