.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px;
}

.column img {
  margin-top: auto;
  vertical-align: middle;
  width: 100%;
  display: block;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 100%;
    
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.card {
  width:auto;
  /*height: 350px;*/
  padding-bottom:0px;
  border:none;
  margin: 5%;
}
.card-img{
  width:350px;
  /*height:350px;*/
  padding-top: 0px:;
  border:none;
  margin:auto;
}


/* position information icon */
#fa-info-circle {
  font-size: 30px;
  color: white;
}

#fa-user-circle {
  font-size: 28px;
  margin-top: 2px;
}


/* BUTTONS */
.btn {
  background: #fff0;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 11px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-shadow: 3px 3px 20px #272634;  /*shadow*/
}

.btn-group {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
}

.next-button-div {
  position: fixed;
  bottom: 0;
  left: 90%;
  font-size: 40px;
  padding-left: 0px;
  border-width: 0px;
}

#next-button {
  background: #fff0;
  color:white;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px; 
  text-shadow: 3px 3px 20px #272634;
  border-width: 0;
}



.selected {
  opacity: .5;
  border-style: solid;
  border-width: 6px;
  border-color: #1113;
  border-radius: .25rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
  text-align: center;
}

.check-icon {
  position: absolute;
  top: 37%;
  left: 42%;
  font-size: 100px;
  color: white;
  background-color: #fff0;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 100%;
  opacity: 0;
}

.information {
  position: absolute;
  top: 20%;
  left: auto;
  width: 100%;
}

#profilePictureDiv {
  height: 100px;
  width: 100px;
}

#bioDiv {
  position: absolute;
  height: 100px;
  width: 300px;
  left: 20%;
  top:3%;
  border-color: black;
  border-width: 3px;
}


#mealsDiv {
  height: 150px;
}

.mealPhoto {
  height: 150px;
  width:150px;
  padding: 5px;
}

.list{
  list-style-type: none;
}

.imgContainer{
  float:left;
}


.modal-content{
  width:700px;

#body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.btn{
    cursor: pointer;
}

.close {
  position: absolute;
  left: 90%;
  top:0;
}

#profileNameDiv {
    position: absolute;
    left: 20%;
    top: 5%;
}

#bioDiv {
    position: absolute;
    top: 20%;
    height: 20%;
    border: 1px solid black;
    border-radius: 8px;
}





