
<html>
<head>
    <title> potluck | home </title>

    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>potluck</title>
</head>
<body>
    <div class="caption">
        <span class="">potluck</span>
        <br>
        <span class="subtitle"> <i> feast together. </i> </span>
        <br>
        <button class="btn danger-btn" type='button' id='login-button' onclick="window.location='/auth/google'"> 
            <span class="white">begin</span> 
        </button>
        <br>
        <br>     
    </div> 
    <section id="section04" class="demo gradient"> 
        <div id ="scrolldown">
            <a class="center" href="#section05"><span></span></a>
        </div>
    </section>
    <section id="section05" class="demo info">
    <div class="info-box">
        <br> 
        <div class="container-fluid">
            <br>
            <br>
            <div class="container">
                <h1>what is potluck?</h1>
            </div>
            <br>
            <div class="container" style="font-size: 30px">
                        If you've ever found yourself hungry for food and company, look no further. 
                        We all have that one dish we love putting together, and potluck is here to let us share it. 
                        Find new meals to love and share a potluck with a friend. With potluck, you can find your feast.
                        Enjoy! 
                        <br>
            </div>
                       
        </div>
    </div>
    </section>  
</body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="/static/js/home.js"></script>
</html>