<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <title>Let's Eat!</title>
</head>
<body>
    <div class='bg'>
        <div>
            <div class='button-div'>
                <button type='button' id='login-button' onclick="window.location='/auth/google'"> Log In </button>
            </div>
            <div class= "center-div">
                <div class="">
                    <b id='lets-eat'>Let's Eat!</b>
                </div>  
                <div class="mt-2">
                    <p id='home-description'> Tinder for food </p>
                </div>
            </div>
        </div>

        <!-- <div id= 'sign-up-button-div'>
            <button type='button' id='sign-up-button'>Sign Up!</button>
        </div> -->
    </div>
</body>
</html>