<!DOCTYPE html>
<html>
<head>
  <title>Let's Eat!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/mealmatch.css">
  <script type="text/javascript" src="../../public/js/meal_match.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h1>Meal Match</h1>
  <div class='row'>
    <div class = 'column'>
        <div class="card">
            <img class="card-img-top" src="../../public/test-images/padthai.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../public/test-images/dumplings.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../public/test-images/hotdog.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class ='column'> 
        <div class="card">
            <img class="card-img-top" src="../../public/test-images/milkshake.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../public/test-images/ramen.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../public/test-images/salad.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class = 'column'> 
        <div class="card">
            <img class="card-img-top" src="../../public/test-images/sandwich.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../public/test-images/spaghetti.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../public/test-images/sushi.jpg" alt="Card image cap">
            <div class = "card-img-overlay">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true" style='font-size:30px'></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-user-circle" aria-hidden="true" style='font-size:30px'></i></button>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
<script src="/static/js/api.js"></script>
<script src="/static/js/meal_match.js"></script>
</html>