<!DOCTYPE html>
<html>
<head>
  <title>Let's Eat!</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/mealmatch.css">
  <script type="text/javascript" src="../../public/js/meal_match.js"></script>
</head>
<body>
  <h1>Meal Match</h1>
  <div class='row'>
    <div class = 'column'>
        <img id='padthai' src ="../../public/test-images/padthai.jpg" style="width:500px;height:500px;">
        <img id='sandwich' src ="../../public/test-images/sandwich.jpg" style="width:500px;height:500px;">
        <img id = 'ramen' src ="../../public/test-images/ramen.jpg" style="width:500px;height:500px;">
    </div>
    <div class ='column'> 
        <img id ='hotdog' src ="../../public/test-images/hotdog.jpg" style="width:500px;height:500px;">
        <img id='spaghetti' src ="../../public/test-images/spaghetti.jpg" style="width:500px;height:500px;">
        <img id = 'sushi' src ="../../public/test-images/sushi.jpg" style="width:500px;height:500px;">
    </div>
    <div class = 'column'> 
        <img id='milkshake' src ="../../public/test-images/milkshake.jpg" style="width:500px;height:500px;">
        <img id ='dumplings' src ="../../public/test-images/dumplings.jpg" style="width:500px;height:500px;">
        <img id='salad' src ="../../public/test-images/salad.jpg" style="width:500px;height:500px;">
    </div>
  </div>
</body>
<script src="/static/js/api.js"></script>
<script src="/static/js/meal_match.js"></script>
</html>