<!DOCTYPE html>
<html>
<head>
    <title>Messages Page</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/static/css/messages.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="navbar-brand">Let's Eat</div>
      <div class="navbar-nav" id="nav-item-container">
        <!-- navbar items are inserted here -->
      </div>
    </nav>
    <div class="row">
        <div id="match-bar" class="col-sm-3">Match Bar
            <!-- <div> Matches </div>
            <div id="match-template" class="card template">
                <div class="card-header">This is a match!</div>
                <btn class="match-btn" id="match-btn" > -->
                  <!-- <p class="match-text" id="profile-status"></p> -->
            <!--     </btn>
            </div> -->
        </div>
        <div id='messages-bar' class="col-sm-6"> Messages

        </div>
        <div id='meals-bar' class="col-sm-3"> Meal Bar

        </div>
    </div>


</body>
<!-- link socket.io here -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/messages.js"></script>
</html>




<!-- 
    NOTES

    // socket.io
    // virtual rooms



// need to worry about room ids -> link 2 user's ids, which one comes first tho? -> need logic to do this
// socket connection needs to join a specific room

-->
