<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/messages.css">

</head>
<body>
    <title id='messages-title'>Messages</title>
    <div id="match-bar">
        
    </div>

    <div id='messages-bar'>
    </div>
    


</body>
<!-- link socket.io here -->
</html>




<!-- 
    NOTES

    // socket.io
    // virtual rooms



// need to worry about room ids -> link 2 user's ids, which one comes first tho? -> need logic to do this
// socket connection needs to join a specific room

-->
